
.card{
	position: relative;
	overflow: hidden;
	box-shadow: 0px 2px 4px transparentize($slate, .5);

	.nam-dash{
		margin-bottom: 1.5vw;
		height: 2px;

		@media screen and (max-width: $sm) {
			margin-bottom: 15px;
		}
	}
}

.card-image{
	img{
		display: block;
	}
}

.card-text{
	background: $slate;
	padding: 3vh 2vw;

	*{
		color: $khaki;
	}
}


.card-text-title{
	margin-bottom: 1.5vw;
	line-height: 1.1;
}

.card-text-info{

	*{
		@extend .bold;
	}

	h4{
		font-size: 1vw;

		@media screen and (max-width: $md) {
			font-size: 1.5vw;
		}

		@media screen and (max-width: $sm) {
			font-size: 12px;
		}

		@media screen and (max-width: $xs) {
			font-size: 11px;
		}
	}

}



//CARD SIZES

.card-size-wide{
	
	.card-text{
		padding: 6vh 2vw;

		@media screen and (max-width: $sm) {
			padding: 4vh 2vw;
		}
	}


}

.card-size-medium{
	margin-bottom: 40px;
}


.card-size-menu{

	&.card-layout-text_bottom{
		.card-text{
			position: absolute;
			bottom: 0;
			width: 100%;

		}
	}
	
}


//CARD LAYOUTS

.card-layout-text_right{
	
	.card-text{
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		width: 39%;
		
		@media screen and (max-width: $md) {
			width: 50%;
		}
	}

}


.card-text-bottom{


}



//CARD TYPES

.card-type-exhibition{
	
	&.card-size-wide{
		.card-text{
			background: transparentize($slate, .1);
		}
	}

	&.card-size-menu{

	}


}


