

.slick-classes{
	padding-left: $container-fluid-padding;
	padding-right: $container-fluid-padding;


	@media screen and (max-width: $md) {
		padding-left: $container-fluid-padding-md;
		padding-right: $container-fluid-padding-md;
	}

	@media screen and (max-width: $sm) {
		padding-left: 30px;
		padding-right: 30px;
	}

	.slick-dots{
		transform: none;
		position: static;
	}

	.slick-arrow{
		margin-top: -60px;
	}
}

.slick-classes-slide{
	padding-right: 40px;

	@media screen and (max-width: $sm) {
		padding-left: 10px;
		padding-right: 10px;
	}

	.card{
		margin-bottom: 0;
	}
}

// .class-pricing-1{
// 	margin-top: 1em;
// 	padding-top: 1em;
// 	&:before{
// 		width: 100px;
// 		height: 3px;
// 		content: '';
// 		display: block;
// 		background: $brand-yellow;
// 	}
// }