

//EXHIBITIONS SLIDERS

.slick-exhibitions{

	overflow: hidden;

	.slick-list{
		transform: translate3d(-210px, 0, 0);
		overflow: visible;

		@media screen and (max-width: 1280px) {
			transform: translate3d(-115px, 0, 0);
		}

		@media screen and (max-width: $md) {
			transform: translate3d(-55px, 0, 0);
		}

		@media screen and (max-width: $sm) {
			transform: translate3d(-40px, 0, 0);
		}
	}

	.slick-slide{
		margin-left: 20px;
		margin-right: 20px;
		opacity: .25;
		transition: opacity .5s;
		display: flex;

		@media screen and (max-width: $md) {
			margin-left: 12px;
			margin-right: 12px;
		}

		@media screen and (max-width: $sm) {
			margin-left: 10px;
			margin-right: 10px;
		}

		.card-text{
			transition: opacity .7s;
			opacity: 0;
		}

		&.slick-current{
			transition: opacity .5s;
			opacity: 1;

			.card-text{
				transition: opacity .7s;
				opacity: 1;
			}
		}

		&>div{
			display: flex !important;
			width: inherit;
		}

		.past-exhibitions-link-slide{
			background: $khaki;
			width: inherit !important;
			position: relative;
			display: flex !important;
			@extend .shadowed;

			a{
				display: block;
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0%;
				left: 0%;
				text-align: center;
				display: flex;
				@extend .align-items-center;
				@extend .justify-content-center;

				span{
					@extend .bold;

				}				

			}

			&:after{
				content: '';
				display: block;
				width: 100%;
				height: 100%;
				padding-top: 46.2%;
			}

		}
	}

	.slick-dots{
		transform: none;
		position: static;
		margin-left: $container-fluid-padding;

		@media screen and (max-width: $md) {
			margin-left: $container-fluid-padding-md;
		}


		@media screen and (max-width: $sm) {
			margin-left: $container-fluid-padding-mobile;
		}
	}

}