$fc-padding: 12vh 0;

.fc{
	//border: 1px solid $light;

	p{
		line-height: 1.65;
		margin-bottom: 2em;
	}

}

.container-fc{
	margin-left: auto;
	margin-right: auto;
	padding: 0 105px;
	max-width: 1410px;
	//border: 1px solid $medium;

	@media screen and (max-width: $lg) {
		padding: 0 70px;	
	}

	@media screen and (max-width: $md) {
		padding: 0 50px;	
	}

	@media screen and (max-width: $sm) {
		padding: 0 20px;	
	}		
}

.fc-section-heading{
	margin-bottom: 6vh;
}





//RICH TEXT
//most of the rich text styles are in wysiwyg.scss

.fc-rich-text{
	padding: $fc-padding;
}

//BACKGROUND

.fc-background{

	.mask-dark{
		&:after{
			background: transparentize($dark, .5);
		}
	}

	.mask-light{
		&:after{
			background: transparentize($ultra-light, .4);
		}
	}

}

.fc-background-image-height-33,.fc-background-height-33{
	height: 33vh;
}

.fc-background-image-height-50,.fc-background-height-50{
	height: 50vh;
}

.fc-background-image-height-66,.fc-background-height-66{
	height: 66vh;
}

.fc-background-image-height-100,.fc-background-height-100{
	height: 100vh;
}

.fc-background-image-height-natural-image{
	
}

.fc-background-natural-image-container{
	img{
		display: block;
	}
}

.fc-background-height-natural-text{
	padding: $fc-padding;
}

.fc-background-image-height-33,.fc-background-height-33,.fc-background-image-height-50,.fc-background-height-50,.fc-background-image-height-66,.fc-background-height-66,.fc-background-image-height-100,.fc-background-height-100,.fc-background-image-height-natural-image{
	.fc-background-text{
		@extend .vertical-center;
		position: absolute;
		width: 100%;
	}
}

.fc-background-heading,.fc-background-subheading,.fc-background-link{
	width: 69%;

	@media screen and (max-width: $sm) {
		width: 90%;
	}

	&.righted{
		float: right;
	}
}

.fc-background-heading{
	margin-bottom: 1.5em;
}

.fc-background-subheading{
	margin-bottom: 1.5em;
}

.fc-background-link{
	a{
		&:hover{
			color: auto;
		}
	}
}


//multi-column
.fc-background-multi-column-container{
	display: grid;
	
	&.image-left{
		&.image-33{
			grid-template-columns: 33% 67%;
		}
		&.image-50{
			grid-template-columns: 50% 50%;
		}
		&.image-66{
			grid-template-columns: 67% 33%;
		}		

		@media screen and (max-width: $sm) {
			display: block;

			.fc-background-multi-column-1{
				height: 61vh;
			}
		}

	}

	&.image-right{
		&.image-33{
			grid-template-columns: 67% 33%;
		}
		&.image-50{
			grid-template-columns: 50% 50%;
		}
		&.image-66{
			grid-template-columns: 33% 67%;
		}		

		@media screen and (max-width: $sm) {
			display: block;

			.fc-background-multi-column-2{
				height: 61vh;
			}
		}

	}

	.fc-background-heading,.fc-background-subheading,.fc-background-link{
		width: 100%;
	}

}

.fc-background-multi-column-1,.fc-background-multi-column-2{
	position: relative;
	padding: 12vh 4vw;
}





