
/* home page */

.home {
	padding-top: 0;

	@media screen and (min-width: $md) {
		#nav{
			transition: background .1s .1s;
			background: none;

			.logo{
				position: fixed;
				transition: all .1s;
				top: 25px;
				left: 25px;
			}


			&.after{
				transition: background .1s .1s;
				background: $nav-background;

				.logo{
					transition: all .1s;
					top: 0;
					left: 0;
				}
			}
		}
	}

}

#home-hero{

	.home-hero-separator{
		margin-top: 1.8em;
		margin-bottom: 1.6em;
	}

	.home-hero-link-button{
		padding: 15px 25px 13px 25px;
		//background: transparentize($slate, .1);
		border-radius: 3px;
		transition: all .1s;
		border: 1px solid white;

		&:hover{
			background: transparentize($slate, .1);
			color: white !important;
		}

		@media screen and (max-width: $md) {
			padding: 10px 20px 9px 20px;
		}

		.icon:before{
			margin-left: 15px;
			font-size: 33px;
		}
	}
}
