
/* home page */

.home {
	padding-top: 0;

	@media screen and (min-width: $md) and (min-height: 701px) {
		#nav{
			transition: background .1s .1s;
			background: none;
			//display: none;

			.logo{
				position: fixed;
				transition: all .1s;
				top: 25px;
				left: 25px;
			}


			&.after{
				transition: background .1s .1s;
				background: $nav-background;

				.logo{
					transition: all .1s;
					top: 0;
					left: 0;
				}
			}
		}
	}



	&.sitewide-alert-on{
		&.dropdown-on{
			#nav .logo{
				top: $sitewide-alert-height;
				left: 0;
			}
		}
	}

}

#home-hero{

	.home-hero-heading{
		@media screen and (max-height: 700px) {
			font-size: 35px;
		}
	}

	.home-hero-subheading{
		@media screen and (max-height: 700px) {
			font-size: 19px;
		}
	}

	.home-hero-separator{
		margin-top: 1.8em;
		margin-bottom: 1.6em;

		@media screen and (max-height: 700px) {
			margin-top: 1.0em;
			margin-bottom: 1.0em;
		}
	}

	.home-hero-link{
		@media screen and (max-height: 700px) {
			margin-top: 1.5em;
		}
	}

	.home-hero-link-button{
		padding: 15px 25px 14px 25px;
		//background: transparentize($slate, .1);
		border-radius: 3px;
		transition: all .1s;
		border: 1px solid white;

		&:hover{
			background: transparentize($slate, .1);
			color: white !important;
		}

		@media screen and (max-width: $md) {
			padding: 7px 15px 5px 15px;
		}

		@media screen and (max-height: 700px) {
			padding: 7px 15px 5px 15px;
		}

		.icon:before{
			margin-left: 15px;
			font-size: 33px;
		}
	}
}
