
//MENUS

$menu-graphic-padding: 20px;

#menus{
	.menu-links-container{
		max-width: none;
	}

	@media screen and (max-width: $sm) {
		display: none;
	}
}


.menu-dropdown{
	margin: 0;
	padding: 0;
	width: 100%;
	top: $nav-height;
	background: transparentize($khaki, .1);
	box-shadow: 0px 4px 35px darken($slate,15%);
	position: fixed;
	transform: translate(0,-$nav-height);
	transform-origin: 0 0;
	z-index: -9;
	opacity: 0;
	overflow: hidden;
	transition: opacity .4s, transform .4s; //transition out

	@media screen and (max-width: $lg) {
		top: $nav-height-md;
		//transition: none;
		transition: opacity .3s, transform .4s; //transition out
	}

	@media screen and (max-width: $sm) {
		top: $nav-height-mobile;
	}

	&.on{
		z-index: 6;
		transform: translate(0,0);
		opacity: 1;
		transition: opacity .5s, transform .4s; //transition in

		@media screen and (max-width: $lg) {
			transition: opacity .3s, transform .4s; //transition in
		}
	}

	.menu-dropdown-links{
		//height: $dropdown-links-height;
		background: white;
		padding: 15px 0 15px 0;
		border-bottom: 3px solid darken($light, 10%);

		@media screen and (max-width: $lg) {
			padding: 30px 0 30px 0;
		}

		ul{
			width: 95%;
			white-space: nowrap;
			overflow: hidden;
			padding-top: 21px;
			padding-bottom: 10px;
			//outline: 1px solid red;

			&.overflowed{
				white-space: normal;
				width: 80%;
				padding-top: 12px;
				padding-bottom: 0;
				margin-top: 0px;
			}
		}

		li{
			display: inline-block;
			height: 34px;
			margin-right: 3vw;
			margin-bottom: 0;

			@media screen and (max-width: $lg) {
				height: 28px;
			}

			@media screen and (max-width: $sm) {
				margin-right: 5vw;
				height: 30px;
			}

			a{
				display: block;
				@extend .bold;
				color: $brand;
				transition: all .1s;
				font-size: 20px;
				padding: 2px 5px 0px 5px;
				height: inherit;

				font-size: 17px;

				@media screen and (max-width: $lg) {
					font-size: 15px;
				}

				@media screen and (max-width: $md) {
					font-size: 14px;
				}

				@media screen and (max-width: $sm) {
					font-size: 12px;
				}				

				&:hover{
					border-bottom: 2px solid $brand;
				}

			}
		}
	}

	.menu-dropdown-graphic{
		//height: $dropdown-graphics-height;
		height: calc(100vh - 400px);
		max-height: 680px;
		overflow-y: scroll;
		overflow-x: hidden;
	}
}


.sitewide-alert-on{
	.menu-dropdown{
		top: $sitewide-alert-height + $nav-height;
	}

	@media screen and (max-width: $lg) {
		.menu-dropdown{
			top: $sitewide-alert-height + $nav-height-md;
		}
	}

}


#blanket-dropdown{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 5;
	transform: translate(0,-100vh);
	transition: transform .25s;

	&:hover{
		//cursor: url("../images/close.png"), auto;
	}

}

main, footer{
	transition: opacity .5s;
}

body.dropdown-on{

	main,footer{
		opacity: .5;

		@media screen and (max-width: $lg) {
			opacity: 1;
		}
		
	}

	#blanket-dropdown{
		transform: translate(0,0);
		transition: transform .25s;
	}
	
}


//GRAPHIC MENUS

.menu-dropdown-graphic{

	@media (max-width: $lg), (max-height: 700px){
		display: none !important;
	}

	.container-fluid{
		max-width: none;
	}

	.card-text-exhibition-location{
		display: none;
	}

	.card{

		@media screen and (max-height: 800px) {
			.card-image{
				display: none;
			}
		}

		.nam-dash{
			display: none;
		}
		.card-text-info{
			display: none;
		}
	}
}


.menu-dropdown-graphic-two-column{
	display: grid;
	display: -ms-grid;

	grid-template-columns: 50% 50%;
	-ms-grid-columns:  50% 50%;

	.menu-dropdown-graphic-1{
		-ms-grid-column: 1;

		padding-left: $container-fluid-padding;
		padding-top: 4em;

		@media screen and (max-width: $lg) {
			padding-left: $container-fluid-padding-md;
		}

		p{
			width: 80%;
		}
	}

	.menu-dropdown-graphic-2{
		-ms-grid-column: 2;
		margin: $menu-graphic-padding;
		position: relative;
	}

}

.menu-dropdown-graphic-background{
	@extend .background;
	background-size: cover;
}

.menu-dropdown-graphic-heading,.menu-dropdown-graphic-link{
	line-height: 40px;
}

.menu-dropdown-graphic-link{
	
	a{

		@extend .button;
		@extend .button-bordered;	
		color: transparentize($brand, .1);
		border-color: transparentize($brand, .1);
	}
}

.menu-dropdown-cards-upper{
	padding-top: 2em;
	padding-bottom: .5em;
}


//SPECIFIC MENUS

#menu-visit{

	.plan-your-visit-title{
		display: none;
	}

}




