
//MENUS

$menu-graphic-padding: 15px;

#menus{
	.menu-links-container{
		max-width: none;
	}
}


.menu-dropdown{
	margin: 0;
	padding: 0;
	//height: $dropdown-height;
	width: 100%;
	top: $nav-height;
	background: transparentize($ultra-light, .1);
	box-shadow: 0px 4px 35px darken($slate,15%);
	position: fixed;
	transform: translate(0,-100vh) rotateX(0deg);
	transform-origin: 0 0;
	transition: transform .25s;
	z-index: -9;
	opacity: 0;
	overflow: hidden;

	@media screen and (max-width: $md) {
		top: $nav-height-md;
	}

	@media screen and (max-width: $sm) {
		top: $nav-height-mobile;
	}

	&.on{
		z-index: 6;
		transform: translate(0,0) rotateX(0);
		opacity: 1;
	}

	.menu-dropdown-links{
		//height: $dropdown-links-height;
		background: white;
		padding: 15px 0 15px 0;
		border-bottom: 2px solid darken($light, 10%);

		ul{
			width: 95%;
			white-space: nowrap;
			overflow: hidden;
			padding-top: 21px;
			padding-bottom: 10px;
			//outline: 1px solid red;

			&.overflowed{
				white-space: normal;
				width: 80%;
				padding-top: 12px;
				padding-bottom: 0;
				margin-top: 0px;
			}
		}

		li{
			display: inline-block;
			height: 34px;
			margin-right: 3vw;
			margin-bottom: 0;
			//outline: 1px solid green;

			@media screen and (max-width: $sm) {
				margin-right: 5vw;
				height: 30px;
			}

			a{
				display: block;
				@extend .bold;
				color: $brand;
				transition: all .1s;
				font-size: 20px;
				padding: 2px 5px 0px 5px;
				height: inherit;
				//outline: 1px solid blue;

				font-size: 17px;

				@media screen and (max-width: $lg) {
					font-size: 15px;
				}

				@media screen and (max-width: $md) {
					font-size: 14px;
				}

				@media screen and (max-width: $sm) {
					font-size: 12px;
				}				

				&:hover{
					border-bottom: 2px solid $brand;
				}

				@media screen and (max-width: $lg) {
					font-size: 17px;	
				}

				@media screen and (max-width: $md) {
					font-size: 15px;	
				}
			}
		}
	}

	.menu-dropdown-graphic{
		//height: $dropdown-graphics-height;

		height: calc(100vh - 380px);

		// @media screen and (max-height: 950px) {
		// 	height: 575px;
		// }

		// @media screen and (max-height: 900px) {
		// 	height: 525px;
		// }
	}
}


.sitewide-alert-on{
	.menu-dropdown{
		top: $sitewide-alert-height + $nav-height;
	}

	@media screen and (max-width: $md) {
		.menu-dropdown{
			top: $sitewide-alert-height + $nav-height-md;
		}
	}

}


#blanket-dropdown{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	//background: rgba(255,255,255,.45);
	//background: yellow;
	z-index: 5;
	transform: translate(0,-100vh);
	transition: transform .25s;
	// transition-delay: .25s;
	//background: url("../images/favicon.png");

	&:hover{
		cursor: url("../images/close.png"), auto;
	}
}

main, footer{
	transition: opacity .5s;
}

body.dropdown-on{

	main,footer{
		
		opacity: .5;
	}

	#blanket-dropdown{
		transform: translate(0,0);
	}
	
}


//GRAPHIC MENUS

.menu-dropdown-graphic{

	@media screen and (max-width: $sm) {
		display: none;
	}

	.container-fluid{
		max-width: none;
	}

	.card-text-exhibition-location{
		display: none;
	}

	.card{

		@media screen and (max-height: 800px) {
			.card-image{
				display: none;
			}
		}

		.nam-dash{
			display: none;
		}
		.card-text-info{
			display: none;
		}
	}
}


.menu-dropdown-graphic-two-column{
	display: grid;
	grid-template-columns: 61% 39%;

	.menu-dropdown-graphic-1{
		padding-left: $container-fluid-padding;
		padding-top: 4em;

		p{
			width: 61%;
		}
	}

	.menu-dropdown-graphic-2{
		margin: $menu-graphic-padding;
		position: relative;
	}

}

.menu-dropdown-graphic-background{
	@extend .background;
	//width: calc(100% - $menu-graphic-padding);
	//height: calc(100% - $menu-graphic-padding);
}

.menu-dropdown-graphic-heading,.menu-dropdown-graphic-link{
	line-height: 40px;
}

.menu-dropdown-graphic-link{
	
	a{

		@extend .button;
		@extend .button-bordered;	
		color: transparentize($brand, .1);
		border-color: transparentize($brand, .1);

		&:hover{
			//text-decoration: underline;
		}

	}
}

.menu-dropdown-cards-upper{
	padding-top: 2em;
	padding-bottom: .5em;
}


//SPECIFIC MENUS

#menu-visit{

	.plan-your-visit-title{
		display: none;
	}

}





