
/* page template */


//PAGE NAV
$page-nav-height: 160px;
$page-nav-height-lg: 120px;

#page-nav{
	//min-height: $page-nav-height;
	background: $khaki;
	padding-top: 60px;
	padding-bottom: 30px;
	border-bottom: 1px solid darken($light,7%);

	@media screen and (max-width: $lg) {
		padding-top: 30px;
		padding-bottom: 20px;
	}

	@media screen and (max-width: $sm) {
		min-height: auto;
		padding-top: 25px;
		padding-bottom: 10px;
	}

	.container-fluid{
		max-width: none;

		@media screen and (max-width: $lg) {
			padding-left: $container-fluid-padding-md;
			padding-right: $container-fluid-padding-md;
		}

		@media screen and (max-width: $sm) {
			padding-left: $container-fluid-padding-mobile;
			padding-right: $container-fluid-padding-mobile;	
		}
	}

	li{
		display: inline-block;
		margin-right: 7px;

		@media screen and (max-width: $sm) {
			margin-bottom: .4em;
		}

		&:first-child{
			a{
				padding-left: 0;
			}
		}

		a{
			color: $medium;
			display: block;
			padding: 0 1vw 0 0;
			font-size: 18px;

			@media screen and (max-width: $md) {
				font-size: 16px;
			}

			@media screen and (max-width: $sm) {
				font-size: 14px;
			}

			&.active{
				@extend .bold;
				color: $brand;
			}

			&:hover{
				color: $brand;
			}
		}
	}

	.page-nav-title{
		margin-bottom: 4px;
		font-size: 36px;

		@media screen and (max-width: $lg) {
			font-size: 27px;
		}

		@media screen and (max-width: $md) {
			font-size: 24px;
		}
		@media screen and (max-width: $sm) {
			font-size: 24px;
			margin-bottom: 14px;
		}
	}

}


//PAGE HERO

.page-hero{
	height: calc(100vh - 60px - #{$nav-height} - #{$page-nav-height});

}

.page-hero-text{
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 39vw;
	background: transparentize($slate, .05);
	padding: 3.5vw;
	max-width: 550px;
	background: -moz-radial-gradient(center, ellipse cover,  rgba(135,146,163,.70) 0%,rgba(135,146,163,0.90) 75%,rgba(135,146,163,0.99) 100%);
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(135,146,163,.70) 0%,rgba(135,146,163,0.90) 75%,rgba(135,146,163,0.99) 100%);
	background: radial-gradient(ellipse at center, rgba(135,146,163,.70) 0%,rgba(135,146,163,0.90) 60%,rgba(135,146,163,0.99) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008792a3', endColorstr='#f28792a3',GradientType=1 );

	h1{
		line-height: 1.15;
	}

	@media screen and (max-width: $lg) {
		width: 45vw;
	}

	@media screen and (max-width: $md) {
		width: 60vw;
	}

	@media screen and (max-width: $sm) {
		width: 69vw;
	}
}


//PAGE INTRODUCTION

.page-introduction{
	background: #E7E8EA;
	padding: 8vh 0;

	// margin: 5vw;
	// width: calc(100% - 10vw);
	// margin-top: -10vw;
}


//PAGE END INFO

.page-end-info{
	margin: 0;
	border: 25px solid $light;

	.container-fluid{
		padding-left: 20px;
		padding-right: 20px;
	}

	@media screen and (max-width: $sm) {
		border: 15px solid $light;
	}
}

.page-end-info-1{
	position: relative;

	@media screen and (max-width: $md) {
		display: none;
	}
}

.page-end-info-2{
	padding: 10vh 8vw 10vh 4vw;

	@media screen and (max-width: $sm) {
		padding-top: 6vh;
		padding-bottom: 6vh;
	}
}

.page-end-info-links{
	
	li{
		margin-bottom: .6em;
	}

	a{
		@extend .bold;
		color: $brand;
	}
}

