
$padding-sidebar-box: 30px;

.sidebar-box{
	padding: $padding-sidebar-box;

	@media screen and (max-width: $lg) {
		padding: $padding-sidebar-box * .75;
	}

	@media screen and (max-width: $md) {
		padding: $padding-sidebar-box * .5;
	}

	@media screen and (max-width: $sm) {
		padding: $padding-sidebar-box * .25;
	}
}

.sidebar-heading{
	//margin-bottom: 1em;
}

.sidebar-text{
	@extend .h5;
}

.mailchimp-form{

	.mailchimp-form-fields{
		@extend .sidebar-box;
	}

	.mc-field-group{
		margin-bottom: 1em;
	}
	input[type="text"],input[type="email"]{
		width: 100%;
		padding: 7px 10px;
		background: lighten($light, 1%);
		border-radius: 3px;
		border: 1px solid darken($light,5%);
	}
}