
$padding-sidebar-box: 30px;

.sidebar-box{
	padding: $padding-sidebar-box;

	@media screen and (max-width: $lg) {
		padding: $padding-sidebar-box * .75;
	}

	@media screen and (max-width: $md) {
		padding: $padding-sidebar-box * .5;
	}

	@media screen and (max-width: $sm) {
		padding: $padding-sidebar-box * .25;
	}
}

.sidebar-heading{
	//margin-bottom: 1em;
}

.sidebar-text{
	@extend .h5;
}

.mailchimp-form{

	.mailchimp-form-fields{
		@extend .sidebar-box;
	}

	.mc-field-group{
		margin-bottom: 1em;
	}

	input{
		width: 100%;
		max-width: none !important;
	}

	input[type="text"],input[type="email"]{
		width: 100%;
		padding: 7px 10px;
		background: lighten($light, 1%);
		border-radius: 3px;
		border: 1px solid darken($light,5%);
		color: $dark !important;
	}
}


//single sidebar


.single-sidebar{

}

.single-sidebar-top{
	background: $khaki;
	padding: 20px 20px 15px 20px;
	border-bottom: 1px solid darken($light,5%);

	@media screen and (max-width: $md) {
		padding: 15px 12px 10px 12px;
	}

	.sidebar-heading{
		margin-bottom: 0;
	}
}

.single-sidebar-middle{
	background: $khaki;
	padding: 20px 20px 25px 20px;

	@media screen and (max-width: $md) {
		padding: 15px 12px 10px 12px;
	}

	.price{
		padding-top: .25em;
	}
	input{
		width: 100%;
		max-width: 66px;
		float: right;
		padding: 7px 10px;
		background: lighten($light, 1%);
		border-radius: 3px;
		border: 1px solid darken($light,5%);
	}
}

.single-ecommerce-sidebar-sm{
	display: none;
	@media screen and (max-width: $sm) {
		display: block;
		margin-top: 2em;
		margin-bottom: 2em;
	}
}

.nam-dash-desktop{
	@media screen and (max-width: $sm) {
		display: none;
	}
}

.single-body-right-desktop{
	@media screen and (max-width: $sm) {
		display: none;
	}
}


#member-price-info{
	text-decoration-line: underline;
	text-decoration-style: dotted;
	

	@media screen and (max-width: $sm) {
		//font-size: 12px;
	}

	&:hover{
		cursor: pointer;
	}

	.icon:before{
		font-size: inherit;
		top: 0;
		margin-left: 2px;
	}
}
