

@font-face {
	font-family: 'modern_pictograms_proregular';
	src: url('../fonts/modernpictogramspro_234.eot');
	src: url('../fonts/modernpictogramspro_234.eot?#iefix') format('embedded-opentype'),
	url('../fonts/modernpictogramspro_234.woff') format('woff'),
	url('../fonts/modernpictogramspro_234.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: "Akkurat Bold";
    src: url("../fonts/lineto-akkurat-bold.eot");
    src: url("../fonts/lineto-akkurat-bold.eot?#iefix") format("embedded-opentype"),
         url("../fonts/lineto-akkurat-bold.woff2") format("woff2"),
         url("../fonts/lineto-akkurat-bold.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Akkurat Bold Italic";
    src: url("../fonts/lineto-akkurat-bolditalic.eot");
    src: url("../fonts/lineto-akkurat-bolditalic.eot?#iefix") format("embedded-opentype"),
         url("../fonts/lineto-akkurat-bolditalic.woff2") format("woff2"),
         url("../fonts/lineto-akkurat-bolditalic.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Akkurat Italic";
    src: url("../fonts/lineto-akkurat-italic.eot");
    src: url("../fonts/lineto-akkurat-italic.eot?#iefix") format("embedded-opentype"),
         url("../fonts/lineto-akkurat-italic.woff2") format("woff2"),
         url("../fonts/lineto-akkurat-italic.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Akkurat Light";
    src: url("../fonts/lineto-akkurat-light.eot");
    src: url("../fonts/lineto-akkurat-light.eot?#iefix") format("embedded-opentype"),
         url("../fonts/lineto-akkurat-light.woff2") format("woff2"),
         url("../fonts/lineto-akkurat-light.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Akkurat Light Italic";
    src: url("../fonts/lineto-akkurat-lightitalic.eot");
    src: url("../fonts/lineto-akkurat-lightitalic.eot?#iefix") format("embedded-opentype"),
         url("../fonts/lineto-akkurat-lightitalic.woff2") format("woff2"),
         url("../fonts/lineto-akkurat-lightitalic.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Akkurat";
    src: url("../fonts/lineto-akkurat-regular.eot");
    src: url("../fonts/lineto-akkurat-regular.eot?#iefix") format("embedded-opentype"),
         url("../fonts/lineto-akkurat-regular.woff2") format("woff2"),
         url("../fonts/lineto-akkurat-regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}




body{
	font-family: $font-main;
	font-weight: normal;
	@include text-size($text-h4);
	color: $dark;
}

*{
	font-family: $font-main;
}

.serif{
	font-family: $font-serif;
	letter-spacing: 0;
	font-weight: 400;

	&.italic{
		font-family: $font-serif-italic;
		font-style: italic;
	}

	&.bold,&strong{
		font-family: $font-serif-bold;
		font-weight: 700;
	}

}


//type sizes
//default sizes include:
//massive, huge, large, medium, regular, small

h1,.h1{
	//@include text-size($text-h1);
	font-size: 4vw;
	line-height: 1;

	@media screen and (max-width: $lg) {
		font-size: 5vw;
	}	

	@media screen and (max-width: $md) {
		font-size: 5vw;
	}

	@media screen and (max-width: $sm) {
		font-size: 7vw;
	}

	@media screen and (max-width: $xs) {
		font-size: 8vw;
	}

}

h2,.h2{
	//@include text-size($text-h2);
	font-size: 3vw;
	line-height: 1.25;

	@media screen and (max-width: $lg) {
		font-size: 3.2vw;
	}	

	@media screen and (max-width: $md) {
		font-size: 3.2vw;
	}

	@media screen and (max-width: $sm) {
		font-size: 6vw;
	}

	@media screen and (max-width: $xs) {
		font-size: 7vw;
	}	
}

h3,.h3{
	//@include text-size($text-h3);
	font-size: 1.7vw;
	line-height: 1.4;

	@media screen and (max-width: 1380px) {
		font-size: 2.0vw;
	}	

	@media screen and (max-width: $lg) {
		font-size: 1.9vw;
	}	

	@media screen and (max-width: $md) {
		font-size: 2.0vw;
	}

	@media screen and (max-width: $sm) {
		font-size: 3.5vw;
	}

	@media screen and (max-width: $xs) {
		font-size: 5vw;
	}	
}

h4,.h4{
	@include text-size($text-h4);
}

h5,.h5{
	@include text-size($text-h5);
}

h6,.h6{
	@include text-size($text-h5);
}

p{
	@include text-size($text-h4);
	margin-top: 0;
}

//formatting

.bold,strong,b{
	font-family: $font-bold;
	font-weight: bold;
}

.italic,em,i{
	font-family: $font-italic;
	font-style: italic;
}

.regular{
	font-family: $font-main;
}

.font-light{
	font-family: $font-light;
}

.uppercase{
	text-transform: uppercase;
}

.underline{
	text-decoration: underline;
}

.centered{
	text-align: center;
}

.righted{
	text-align: right;
}

.tracked-less{
	letter-spacing: .06em;
}

.tracked{
	letter-spacing: .09em;
}



//typography colors

.brand{
	color: $brand;
}

.yellow{
	color: $yellow;
}

.khaki{
	color: $khaki;
}

.slate{
	color: $slate;
}

.white{
	color: white;
}

.ultra-light{
	color: $ultra-light;
}

.light{
	color: $light;
}

.medium-light{
	color: $medium-light;
}

.medium{
	color: $medium;
}

.medium-dark{
	color: $medium-dark;
}

.dark{
	color: $dark;
}


//icons

.icon{
	&:before {
		content: attr(data-icon);
		font-family: 'modern_pictograms_proregular';
		font-size: 24px;
		line-height: 100%;
		vertical-align: middle;
		position: relative;
	}

	&.large:before{
		font-size: 72px;
	}
}
