

//PLAN YOUR VISIT

.plan-your-visit{
	border-bottom: 1px solid darken($light,8%);
	padding-top: 7vh;
	padding-bottom: 9vh;

	.key,.value,address,.holidays{
		font-size: 20px;
		@media screen and (max-width: 1440px) {
			font-size: 16px;
		}
		@media screen and (max-width: $sm) {
			font-size: 15px;
		}
		@media screen and (max-width: $sm) {
			font-size: 13px;
		}	
	}

	.key{

	}

	.value{

	}

	address{
		font-size: 19px;
		@media screen and (max-width: 1440px) {
			font-size: 15px;
		}
		@media screen and (max-width: $sm) {
			font-size: 15px;
		}
		@media screen and (max-width: $sm) {
			font-size: 13px;
		}	
		
	}
}

.plan-your-visit-heading{
	//@extend .bold;
	@extend .serif;
	@extend .h3;
	margin-bottom: 1.3em;

	@media screen and (max-width: $sm) {
		margin-bottom: 1em;
	}

}

.plan-your-visit-menu-link{
	display: none;
}

.plan-your-visit-title{
	margin-bottom: 1.5em;
}

.plan-your-visit-currently{
	font-size: 24px;
	margin-bottom: 3em;

	@media screen and (max-width: $lg) {
		font-size: 22px;
	}
	@media screen and (max-width: $md) {
		font-size: 19px;
	}
	@media screen and (max-width: $sm) {
		font-size: 16px;
	}
}


//PLAN YOUR VISIT CONTEXTS

.home main{
	.plan-your-visit{
		background: $khaki;
	}
}



//getting-here
.page-id-28 main{
	.plan-your-visit-getting-here{
		display: none;
	}
}

//visit
.page-id-23 main{
	.plan-your-visit{
		//background: lighten($brand,65%);
		
	}
}

#menu-visit{

	.plan-your-visit{
		background: transparentize($khaki, .6);
	}

	@media screen and (max-width: $md) {
		#plan-your-visit-col-location{
			display: none;
		}
	}

	.plan-your-visit-currently{
		margin-bottom: 2em;
	}
	
	.plan-your-visit-menu-link{
		display: block;
	}

	.plan-your-visit-location-links{
		display: none;
	}

	.plan-your-visit-holidays{
		display: none;
	}
}


//HOURS

.admissions{

	.row{
		margin-bottom: .4em;

		@media screen and (max-width: $sm) {
			margin-bottom: .2em;
		}
	}
}

.hours{

	.row{
		margin-bottom: 1.2em;

		@media screen and (max-width: $sm) {
			margin-bottom: .2em;
		}
	}
}

.hours{
	.row:nth-child(2){
		.value{
			position: relative;
			//top: 14px;
		}
	}
}


//STATUS

.plan-your-visit{

	.ms-status{
		@extend .bold;

		&.ms-status-closed{
			color: $error;
		}

		&.ms-status-open{
			color: $success;
		}
	}

}


