

//PLAN YOUR VISIT


.plan-your-visit{
	border-bottom: 1px solid $light;

	h4{
		line-height: 1.25;
	}

	.row .row{
		margin-bottom: .9em;
	}
}


.plan-your-visit-container{
	height: inherit;
}

.plan-your-visit-column{
	float: left;
	width: 50%;
	@extend .clearfix;
}

.plan-your-visit-left{
	width: 61%;
	height: inherit;
	float: left;
	@extend .clearfix;
	padding-left: $container-fluid-padding;
	padding-right: $container-fluid-padding;
	padding-top: 80px;

	@media screen and (max-width: $md) {
		width: 100%;
	}
}

.plan-your-visit-right{
	width: 39%;
	height: 100%;
	float: left;
	@extend .clearfix;

	@media screen and (max-width: $sm) {
		display: none;
	}
}

.plan-your-visit-3{
	height: 100%;
}

.plan-your-visit-map{
	height: calc(100% - 1px);
}

.plan-your-visit-title{
	margin-bottom: 2em;
}

.plan-your-visit-currently{
	//max-width: 320px;
}





//PLAN YOUR VISIT CONTEXTS


.home main, .page-id-23 main{
	.plan-your-visit{
		height: 69vh;
	}

	.plan-your-visit-heading{
		@extend .bold;
	}
}

#menu-visit{
	.plan-your-visit{
		height: 100%;
	}

	.plan-your-visit-left{
		padding-top: 60px;
	}

	.plan-your-visit-right{
		padding-top: 25px;
		padding-bottom: 25px;
		padding-right: 25px;
	}

	.plan-your-visit-map{
		//border: 1px solid $light !important;
	}

	.plan-your-visit-heading{
		@extend .serif;
		@extend .h3;
	}
}
