

//CART


#cart-contents-nam{

}

.woocommerce-cart-form{
	margin-top: 3em;
}


.cart-headings{
	border-bottom: 1px solid darken($light,15%);
	padding-bottom: 5px;
	//margin-bottom: 1.5em;
}

.cart-row{
	padding-top: 24px;
	padding-bottom: 20px;
	border-bottom: 1px solid darken($light,5%);
	
	&:last-child{
		//border: none;
		padding-bottom: 40px;
	}

	.qty{
		width: 3.631em;
		text-align: center;
	}
}


.product-remove,.product-remove-heading{
	flex-basis: 50px;
}

#update-cart-button{
	margin-top: 2em;
}

.cart_totals{
	margin-top: 4em;
}

.cart-totals-col{
	background: $khaki;
	//padding: 1.5em;

	.row{
		padding: 25px 0;
		border-bottom: 1px solid transparentize($medium, .7);
	}
}

.total-total{
	*{
		@extend .bold;
	}
}

.wc-proceed-to-checkout{
	a{
		@extend .button-full;
		@extend .shadowed;
	}
}


//FORM ELEMENTS

input{
	font-size: 17px;
	outline: none;
	border: 1px solid #ddd;
	border-radius: 2px;
	padding: 4px;
}

//WOOCOMMERCE DEFAULT STYLES THAT WE NEED

.screen-reader-text {
	clip: rect(1px,1px,1px,1px);
	height: 1px;
	overflow: hidden;
	position: absolute!important;
	width: 1px;
	word-wrap: normal!important;
}


//MESSAGES AND NOTICES

$error: #e8756f;
$message: $brand;
$success: #9fcc99;

// #notices{
// 	//padding-top: 3em;
// 	//margin-bottom: 2em;
// 	//border: 1px solid yellow;
// }

.notice{
	background: transparentize($message,.9);
	border-bottom: 3px solid $brand;
	padding: .9em 15px 0.5em 15px;
	@extend .bold;
	@extend .shadowed;
	//width: calc(100% + 30px);
	//margin-left: -15px;
	margin-bottom: 30px;

	@media screen and (max-width: $sm) {
		//width: 100%;
		//margin-left: 0;
	}

	.notice-close-link{
		display: block;
		text-align: right;
	}
}

.woocommerce-message{
	background: transparentize($message,.9);
	border-color: $message;
}

.woocommerce-error{
	background: transparentize($error,.9);
	border-color: $error;
}

.woocommerce-success{
	background: transparentize($success,.8);
	border-color: $success;
}


