

//CART


#cart-contents-nam{

}

.woocommerce-cart-form{
	//margin-top: 4em;
}


.cart-headings{
	border-bottom: 1px solid darken($light,15%);
	padding-bottom: 5px;
	//margin-bottom: 1.5em;
}

.cart-row{
	padding-top: 24px;
	padding-bottom: 20px;
	border-bottom: 1px solid darken($light,5%);
	
	&:last-child{
		//border: none;
		padding-bottom: 40px;
	}

	.qty{
		width: 3.631em;
		text-align: center;
	}
}


.product-remove,.product-remove-heading{
	flex-basis: 50px;
}

#update-cart-button{
	margin-top: 2em;
}

.cart_totals{
	margin-top: 4em;
}

.cart-totals-col{
	background: $khaki;
	//padding: 1.5em;

	.row{
		padding: 25px 0;
		border-bottom: 1px solid transparentize($medium, .7);
	}
}

.total-total{
	*{
		@extend .bold;
	}
}

.wc-proceed-to-checkout{
	a{
		@extend .button-full;
		@extend .shadowed;
	}
}


//FORM ELEMENTS

input{
	font-size: 17px;
	outline: none;
	border: 1px solid #ddd;
	border-radius: 2px;
	padding: 4px;
}

//WOOCOMMERCE DEFAULT STYLES THAT WE NEED

.screen-reader-text {
	clip: rect(1px,1px,1px,1px);
	height: 1px;
	overflow: hidden;
	position: absolute!important;
	width: 1px;
	word-wrap: normal!important;
}


//MESSAGES AND NOTICES

$error: #e8756f;
$message: $brand;
$success: #9fcc99;


.notice{
	background: transparentize($message,.9);
	border-bottom: 3px solid $brand;
	padding: .9em 15px 0.5em 15px;
	@extend .shadowed;
	margin-bottom: 25px;

	&:last-of-type{
		margin-bottom: 4em;
	}

	h4{
		@extend .bold;
	}

	.notice-close-link{
		display: block;
		text-align: right;

		.icon:before{
			color: $dark;
		}
	}
}

.woocommerce-message{
	background: transparentize($message,.9);
	border-color: $message;
}

.woocommerce-error{
	background: transparentize($error,.9);
	border-color: $error;
}

.woocommerce-success{
	background: transparentize($success,.8);
	border-color: $success;
}



//CHECKOUT

.woocommerce-checkout{

	label{
		display: block;
		width: 100%;
		margin-bottom: .25rem;
	}

	input{
		display: block;
		width: 100%;
		margin-bottom: 1em;
	}

}

.required,abbr.required{
	color: $error;
	text-decoration: none;
}



//LOGIN

.woocommerce-form-login{
	width: 360px;
	//margin: 0 auto 3em auto;
	margin-bottom: 3em;
	background: $light;
	padding: 30px;
	border: 1px solid darken($light, 7%);
	border-radius: 3px;

	button[type="submit"]{
		margin-bottom: 1em;
		margin: 1em auto;
		display: block;
	}
}

input[name="rememberme"]{
	display: inline;
	margin-right: 30px;
	width: auto;
}
