@import "definitions/variables";

//hide background flexible content option from singles
.post-type-events, .post-type-news, .post-type-exhibitions, .post-type-classes{
	.acf-fc-popup a[data-layout="background"] {
		display: none;
	}

	//section text color and section background color inside single flexible content
	.acf-field-5ae33b83ecc5e, .acf-field-5ae339ca9c0d5{
		display: none;
	}

	//section text color and section background color for GALLERY inside single flexible content
	.acf-field-5ae9d2455f038,.acf-field-5ae9d1a25f037{
		display: none;
	}

	//hero text field
	.acf-field-5aa932017cc17{
		display: none;
	}

}

//darken acf accordian labels to make structure more clear
.acf-label.acf-accordion-title{
	background: lighten(#98A2B1, 25%);
}

//remove taxonomies from post list views, which makes each item too tall

td.column-taxonomy-events-categories,td.column-taxonomy-classes-categories,td.column-taxonomy-classes-days{
	display: none;
}

th.manage-column.column-taxonomy-events-categories,th.manage-column.column-taxonomy-classes-categories,th.manage-column.column-taxonomy-classes-days{
	display: none;
}

.acf-field-5bd76c14ec5b8{
	display: none;
}

.post-type-donation-tiers{
	.acf-field-5bd76c14ec5b8{
		display: block;
	}
}


.inside{

.subscription-flag {
	padding:1em;
}

.nam-user-created-subscription {
        background-color: lighten($success,5%); // change this to change the color of the subscription flag.
        font-weight: bold;
    }

    .nam-imported-subscription {
        background-color: lighten($success,5%); // change this to change the color of the subscription flag.
        font-weight: bold;
    }

}
