
/* Backgrounds */


//background colors

.bg-white{
	background: #ffffff;
}

.bg-ultra-light{
	background: $ultra-light;
}

.bg-light{
	background: $light;
}

.bg-medium{
	background: $medium;
}

.bg-dark{
	background: $dark;
}

.bg-brand{
	background: $brand;
}

.bg-khaki{
	background: $khaki;
}

.bg-yellow{
	background: $yellow;
}

.bg-slate{
	background: $slate;
}



//background layouts

.background{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.block-background{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	background-size: cover;
	background-position: center top;
	
	&:after{
		content: '';
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 0;
		transition: all, .25s;
	}

}

.mask{
	&:after{
		content: '';
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index: 0;
	}
}

.mask-dark{
	&:after{	
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#292e35+0,292e35+100&0.7+0,0.65+25,0+100 */
		background: -moz-linear-gradient(-45deg, rgba(41,46,53,0.5) 0%, rgba(41,46,53,0.3) 25%, rgba(41,46,53,0) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(-45deg, rgba(41,46,53,0.5) 0%,rgba(41,46,53,0.3) 25%,rgba(41,46,53,0) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(135deg, rgba(41,46,53,0.5) 0%,rgba(41,46,53,0.3) 25%,rgba(41,46,53,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3292e35', endColorstr='#00292e35',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	}
}

.mask-brand{
	&:after{	
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e4487+0,1e4487+100&0.95+1,0.1+67,0.65+67,0.3+100 */
background: -moz-linear-gradient(-45deg, rgba(30,68,135,0.95) 0%, rgba(30,68,135,0.95) 1%, rgba(30,68,135,0.65) 67%, rgba(30,68,135,0.3) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg, rgba(30,68,135,0.95) 0%,rgba(30,68,135,0.95) 1%,rgba(30,68,135,0.65) 67%,rgba(30,68,135,0.3) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg, rgba(30,68,135,0.95) 0%,rgba(30,68,135,0.95) 1%,rgba(30,68,135,0.65) 67%,rgba(30,68,135,0.3) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f21e4487', endColorstr='#4d1e4487',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

	}
}

.mask-light{
	&:after{
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#dee1e5+0,dee1e5+100&0.75+0,0.6+25,0+100 */
		background: -moz-linear-gradient(-45deg, rgba(222,225,229,0.75) 0%, rgba(222,225,229,0.6) 25%, rgba(222,225,229,0) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(-45deg, rgba(222,225,229,0.75) 0%,rgba(222,225,229,0.6) 25%,rgba(222,225,229,0) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(135deg, rgba(222,225,229,0.75) 0%,rgba(222,225,229,0.6) 25%,rgba(222,225,229,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfdee1e5', endColorstr='#00dee1e5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	}
}
