
/* Sizing heights and widths with viewport units*/

@for $i from 1 through 100 {
	.vh#{$i*1}{ 
		height: 1vh * $i;
	}
}

@for $i from 1 through 100 {
	.vw#{$i*1}{
		width: 1% * $i; 
	}
}

@for $i from 1 through 100 {
	.vhmin#{$i*1}{ 
		min-height: 1vh * $i;
	}
}


@for $i from 1 through 100 {
	.vhmax#{$i*1}{ 
		max-height: 1vh * $i;
	}
}

.vhfull{
	height: calc(100vh - #{$nav-height});

	@media screen and (max-width: $sm) {
		height: calc(100vh - #{$nav-height-mobile});
	}

}
