
/* Slick slider useful styles for components like dots and arrows */


.slick-slider{
	position: relative;
}

.slick-slide{
	&:focus{
		outline: none;
		border: none;
	}

	&:hover{
		cursor: grab;
	}
}


.slick-arrow{
	position: absolute;
	top: 50%;
	margin-top: -40px;
	left: 0px;
	z-index: 2;
	font-size: 0;
	height: 70px;
	width: 35px;
	background: none;
	border: none;
	outline: none;
	padding: 0;

	@media screen and (max-width: $md) {
		left: 0px;
		height: 60px;
		width: 25px;
		top: 50%;
		margin-top: -30px;
	}	

	&:hover{
		cursor: pointer;
	}

	&:focus{
		outline: none;
		border: none;
	}

	&:after{
		content: '‘';
		font-family: modern_pictograms_proregular;
		display: block;
		width: 35px;
		height: 70px;
		line-height: 70px;
		font-size: 50px;
		color: $medium-dark;
		text-align: center;

		@media screen and (max-width: $md) {
			width: 25px;
			height: 60px;
			line-height: 60px;
			font-size: 33px;
		}			
	}

	&.slick-next{
		left: auto;
		right: 0px;

		@media screen and (max-width: $md) {
			right: 0px;
		}			

		&:after{
			content: '—';			
		}

	}

}

.slick-dots{
	position: absolute;
	left: 50%;
	@include transform(translate(-50%,0));
	bottom: -20px;
	
	li{
		display: inline-block;
		margin-right: 10px;

		&.slick-active button{
			background: $medium-dark;
			border-width: 0px;
			width: 9px;
			height: 9px;
		}
	}

	button{
		background: none;
		border: none;
		outline: none;	
		font-size: 0;

		display: block;
		width: 9px;
		height: 9px;
		padding: 4px;

		background: $light;
		border: 1px solid $medium-dark;
		border-radius: 10px;	

		&:hover{
			cursor: pointer;
		}	

	}
}